<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<link rel="icon" href="https://v3.bootcss.com/favicon.ico"/>

</head>
<body>
<div class="row" style="padding-top: 20px">

	<div class="form-group">
		<a>首页</a>

		<h3>
			<div th:if="${user!=null}">
				<span>欢迎使用!</span></span><span th:text="${user.username}"></span>
				<span><a th:href="@{/logout}">退出</a></span>
			</div>
			<div th:if="${user==null}">
				<a th:href="@{/register}">注册</a>
				<a th:href="@{/login}">登录</a>
			</div>
		</h3>

	</div>



</div>
</body>
<script th:src="@{/js/jquery/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
</html>
