<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style type="text/css">
        .ib{
            display: inline-block;
        }
        .ml20{
            margin-left: 20px;
        }
        .mt20{
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1 th:text="#{login.tip}"></h1>
<div>
    <div>[[#{mess.user.name}]]：<input th:text="#{mess.user.name}"/></div>
</div>
<div>
    <div>[[#{mess.user.password}]]：<input th:placeholder="#{mess.user.password}"/></div>
</div>
<div>
    <div><button>[[#{mess.user.btn}]]</button></div>
</div>

<div class="mt20">
    <span class="ib"><a th:href="@{/mess(i18n_language=zh_CN)}">中文</a></span>
    <span class="ib ml20"><a th:href="@{/mess(i18n_language=en_US)}">英文</a></span>
</div>

</body>
</html>