<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.UserDaoMapper">

    <resultMap id="baseResultMap" type="com.example.model.User">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <association property="userItem" javaType="com.example.model.UserItem">
            <result column="item_id" property="id" jdbcType="BIGINT" />
            <result column="user_id" property="userId" jdbcType="BIGINT" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="sex" property="sex" jdbcType="VARCHAR" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>

    <insert id="addUser">
        INSERT INTO `user`(
            `id`, `password`, `username`, `create_time`, `update_time`
        ) VALUES (
            #{id,jdbcType=INTEGER},
            #{password,jdbcType=VARCHAR},
            #{username,jdbcType=VARCHAR},
            NOW(),
            NOW()
        )
    </insert>

    <select id="list" resultMap="baseResultMap">
        SELECT u.* ,ui.* FROM user u left join user_item ui on  u.id = ui.user_id
    </select>

    <select id="findById" resultMap="baseResultMap">
        SELECT u.* FROM user u left join user_item ui on  u.id = ui.user_id WHERE u.id=#{id,jdbcType=INTEGER}
    </select>

    <select id="findByName" resultMap="baseResultMap">
        SELECT u.* FROM user u left join user_item ui on  u.id = ui.user_id WHERE u.name=#{name,jdbcType=VARCHAR}
    </select>

    <delete id="clean">
        delete FROM user
    </delete>

    <insert id="addUserItem" >
        INSERT INTO `user_item`(
            `item_id`, `user_id`, `sex`, `name`, `create_time`, `update_time`
        ) VALUES (
            #{id,jdbcType=INTEGER},
            #{userId,jdbcType=VARCHAR},
            #{sex,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            NOW(),
            NOW()
        )
    </insert>
</mapper>
